@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="@Model.ContentDirectory/site.css"
    <title></title>
</head>
<body>
    <div>
    @Model.Manifest.ApplicationName
    </div>
</body>
<script src="@Model.ContentDirectory/js/app.js"
</html>
