<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Development Feed packages" value="http://nudev.azurewebsites.net/nuget" />
    <add key="https://www.nuget.org/api/v2/" value="https://www.nuget.org/api/v2/" />
    <add key="ClickTwice Package Management feed" value="https://vs01.pkgs.visualstudio.com/DefaultCollection/_packaging/ClickTwice/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="https://www.nuget.org/api/v2/" value="true" />
  </disabledPackageSources>
  <packageSourceCredentials>
    <ClickTwice_x0020_Package_x0020_Management_x0020_feed>
      <add key="Username" value="alistair.chapman" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAfqgTjcqchUejOHULtyK6FAAAAAACAAAAAAAQZgAAAAEAACAAAADGSIywW1pzP7EJPCuXFiEC1/veSIds5RJ11H+ilTNCBwAAAAAOgAAAAAIAACAAAAAQNyIOp/qNWfS6QmKN37Mxhu9jnWSENjSg/SUEFIWqr0AAAADXTLEq2okBZhnxubohF4yrGPSm2guCWKagK7OkW3kmbmbxTGv6wXm9A9W7r7F3wDfpw5RmALKl3EYqDGE15bGwQAAAAI/6bkbJL47lzvwIW23gQwydp08j9R/+eN9dOQHWhTv9JZrK7t4nIm8oYMrCe5JmL4UlspsfANLEpL0DfKOWGk0=" />
    </ClickTwice_x0020_Package_x0020_Management_x0020_feed>
  </packageSourceCredentials>
</configuration>
